body {
    font-family: Arial, sans-serif;
    background-color: rgb(249, 206, 154);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(246, 197, 137);
  
}

.form-control {
    margin-bottom: 10px;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    width: 90%;
    padding: 10px;  
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#error-message {
    color: red;
    text-align: center;
}
